.voters{

    /* height:120vh; */
    width:100%;
}

.aspirants-title{

    margin-top:100px;
    text-align: center;

}

.main-aspirants-cont{

    margin-top:40px;
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    flex-direction:row;
    width:90%;
    margin-left:auto;
    margin-right: auto;

}

.aspirant-containers{

    width: calc(42.33% - 2px);
    /* margin-left:20px; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.aspirant-cont{

    display:flex;
    flex-direction:column;
    width:350px;
    
}

.asp-img{

    height:26vh;
    width:22vw;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 10px 4px purple;
}

.aspirant-details{

    /* display: flex;
    flex-direction:column;
    align-items: center; */
    /* background-color:red; */
    width:450px;
    margin-top: 10px;
    margin-left: auto;
    margin-right:auto;

}

.asp-name{

    margin-top:5px;
}


.btn-cont{

    margin-top: 10px;
    background-color: purple;
    color:white;
    cursor:pointer;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
} 

.btn-cont:hover{

    background-color: blueviolet;
}

.btn-cont:active{

    background-color:violet;
}

.error{

    color:red;
    font-size: 14px;
    font-weight:bold;
}

.spinner-loader{

    font-size:50px;
    animation:spin 1s linear infinite;
    color:purple;
    text-align:center;

  }

  @keyframes spin{

    0%{transform: rotate(0deg);}
  
    100%{transform: rotate(360deg);}
  
  }

.span-name{

    font-weight:bold;
    color:purple;
}