.navbar {
  color: black;
  background-color: white;
  height: 70px;
  position: fixed;
  display: flex;

  top: 0;
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.main-navbar {
  display: flex;

  flex-direction: row;
  justify-content: center;
  width: auto;
}

.navbar--logo {
  // position: relative;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.img-logo {
  display: flex;
}

.logo {
  border-radius: 40px;
  height: 70px;
  width: 30px;
}

.navbar--details {
  display: flex;
  margin-left: 890px;
  flex-direction: row;
  margin-top: 10px;
  gap: 2rem;

  .carticon {
    //parent have relative position the child to use absolute zipandane

    position: relative;

    span {
      font-size: 12px;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background-color: #2879fe;
      color: white;
      position: absolute;
      right: -10px;
      top: -10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.flex-direction-left {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.navigations {
  font-weight: bolder;
  color: black !important;
  font-size: 15px;
}

.show-nav {
  width: 119px;
  height: 120px;
  background-color: white;
  padding: 2px;
  border-radius: 2px;
  // margin:9px;
}

.navigations-show {
  margin-top: 10px;
  font-size: 10px;
  margin-bottom: 7px;
  cursor: pointer;
  text-align: center;
}

.signup-button--button {
  background-color: #0c8ce9;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  margin: auto;
  cursor: pointer;
}

.signup-button--button:hover {
  background-color: #0e97fc;
}

.signup-button--button:active {
  background-color: #0c6bad;
}

.signup-button {
  padding-right: 15px;
}

.flip-box {
  background-color: transparent;
  width: 140px;
  height: 120px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  /* background-color: #f1b409; */
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box-inner * {
  display: flex;
  margin-top: 4px;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-box-back {
  font-weight: bold;
  transform: rotateY(180deg);
}

.flip-box-front p {
  color: black;
  font-weight: bolder;
  margin-left: 10px;
  font-size: 15px;
}

.flip-box-back p {
  font-size: 11px;
  color: black;
  font-weight: bolder;
}

.menu {
  display: none;
}

@media screen and (max-width: 1024px) {
  .main-navbar {
    width: 55%;
  }

  .navbar--details {
    margin-left: 400px;
  }

  .signup-button--button {
    font-size: 10px;
    width: 100px;
  }
}

@media screen and (max-width: 768px) {
  .navbar--details {
    margin-left: 200px;
  }

  .flex-direction-left {
    display: none;
  }

  .menu {
    display: block;
    margin-top: 10px;
    cursor: pointer;
  }

  .signup-button--button {
    display: none;
  }

  aside {
    width: 100vw;
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 101vw;
    width: 35%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
  }
}

// STYLES FOR THE SIDEBAR

aside {
  height: 100%;
  // width:25%;
  position: absolute;
  background-color: white;
  // background-color: red;
  top: 0;
  left: 0;
  z-index: 4;
}

.close-btn {
  float: right;
  margin-right: 10px;
  margin-top: 20px;
}

.close {
  font-size: 30px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out 0.3ms;
}

.close:hover {
  transform: rotate(360deg);
}

.side-logo {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.side-main-logo {
  display: flex;
  flex-direction: row;
}

.main-logo {
  width: 100px;
}

.main-logo .side-logos {
  border-radius: 40px;
  height: 50px;
  width: 50px;
  margin-left: 10px;
  cursor: pointer;
}

.navigation {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.navigation .nav-side {
  text-align: center;
  cursor: pointer;
  font-size: 23px;
}

.navigation .navs {
  margin-top: 40px;
}

.seedling-icon {
  transition: transform 0.3s;
}

.seedling-icon:hover {
  animation: shake 0.5s infinite; /* Start the shake animation on hover */
}

@keyframes shake {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0);
  }
}

.signup-button--button-side {
  background-color: #0c8ce9;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
}

.signup-button--button-side:hover {
  background-color: #0e97fc;
}

.signup-button--button-side:active {
  background-color: #0c6bad;
}

.side-contact {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  gap: 1.5rem;
}

.nav-side-servies {
  text-align: center;
  cursor: pointer;
  margin-top: 40px;
  font-size: 23px;
}

.join {
  text-align: center;
  margin-top: 70px;
}

.btns-side {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
