
    /* --theme-footer-link-color-active: hsl(27, 90%, 55%); */
    

    .footer{

      width:100%;
      background-color:black;
      color:white;
      /* height: 350px; */

    }

    .footer-title{
      text-align: center;
      color:purple;
    }

    .footer-main{

      margin-top: 50px;
      width:90%;
      margin-left:auto;
      margin-right:auto;
      padding:20px;
    }

    .site--footer{

      /* margin-left:auto; */
      /* margin-right:auto; */
      /* width:100%; */
      margin-top:20px;
    }

    .p-footer{

      font-size: 12.5px;
      line-height: 12px;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .icons-s{
  
      color: hsl(210, 8%, 60%);
      cursor: pointer;
      margin-left:10px;
      transition: color 0.3s ease;
      font-size: 22px;
    }

     .icons-s:hover{
  
      color:purple;
      animation: shake 0.5s infinite;
      
    }
    
    @keyframes shake {

      0% { transform: translateX(0); }
      25% { transform: translateX(-5px) rotate(-5deg); }
      75% { transform: translateX(5px) rotate(5deg); }
      100% { transform: translateX(0); }

    }

    .site-footer--nav{

      width:80%;
      margin-left: auto;
      margin-right:auto;
      display: flex;
      flex-direction:row;
      gap:10rem;
      margin-top:40px;

    }

    .site-footer--col{

      display:flex;
      flex-direction: column;

    }

    .site-footer--col ul{
      list-style-type: none;
    }
    
    .site-footer--col .-title{

      margin-bottom:10px;
    }

    .footer-links{

      color:purple;
      text-decoration:none;
      text-align: center;
    }

    @media screen and (max-width:768px){

      .footer{

        width:100%;
        background-color: black;

      }

      /* .footer-main{

        display:flex;
        flex-direction:column;
      } */

      .site-footer--nav{

        display:flex;
        flex-direction:column;
        gap:3rem;

      }


    }